.instagram .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.instagram .box-container .box {
  flex: 1 1 20rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
}

.instagram .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .3s;
}

.instagram .box-container .box:hover img {
  transform: scale(1.1);
}

.instagram .box-container .box .icon {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background: rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .3s;
}

.instagram .box-container .box:hover .icon {
  opacity: 1;
}

.instagram .box-container .box .icon i {
  font-size: 5rem;
  color: var(--main-color);
  transform: translateY(2rem);
  transition: .3s;
}

.instagram .box-container .box:hover .icon i {
  transform: translateY(0);
}
